.container__menu-title{
  background-color: black;
}

.container__menu-title > img{
  width: 600px;
  display: flex;
  margin: auto;
  border: 5px solid ;
  border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
}

.container__menu-title > hr{
  margin-top: 20px;
  margin-bottom: 5px;
}
